.footer{
	margin-top: 50px;
	margin-bottom: 50px;
}
.footer-info{
	color: #008f8f;
	line-height: 3px;
	font-size: 1vw;
}
/* Smartphones (portrait and landscape) ----------- */
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
		{
			.footer-info{
				color: #008f8f;
				line-height: 2px;
				font-size: 4vw;

			}
		}